body {    
    margin: auto;    
    font-family: Roboto, sans-serif;    
}    

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    background-color: blue;  
}

.mat-card {    
    text-align: -webkit-center;  
    width: 350px; 
    padding-bottom: 35px;  
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;    
    border-color: black;
    border-radius: 40px;
} 

.mat-input-element {
    text-align: left;
}

 /* mat-card {    
   
}    */

.mat-form-field {
    margin-left: 20px;
    padding-bottom: 2px;
    align-items: center;
    width: 300px !important;
}
 
mat-card-title {
    padding-top: 20px;
}

