.mat-card {    
    text-align: -webkit-center;   
} 

.mat-input-element {
    text-align: left;
}
   
body {    
    margin: 0 auto;    
    font-family: Roboto, sans-serif;    
}    

.left-box{
    margin-left: 80%;
}
  
mat-card {    
    width: 350px;    
    margin: 100px auto; 
    padding-bottom: 30px;  
    text-align: center;    
    border-color: black;
    border-radius: 40px;
}  

.mat-form-field{
    width: 300px !important;
}
 
mat-card-title {
    padding-top: 20px;
}

